.contact
  %img.me{:src => @me.image, :alt => @me.name, :title => "#{@me.name}"}
  %h2= "#{@me.name}"
  -# optional contact info
  - if @me.title
    %h4.title= @me.title
  - if @me.address
    %h3= t.contact.address
    %p= text_with_line_breaks(@me.address)
  - if @me.birthday
    %h3= t.contact.birthday
    %p= l @me.birthday, :full
  - if @me.tel or @me.mobile
    %h3= t.contact.telephone
    %p
      = @me.tel
      %br
      = @me.mobile
  - if @me.email
    %h3= t.contact.mail
    %p
      %a{:href => "mailto:#{obscure_email(@me.email)}"} 
        %span.email= @me.email.reverse
  - if @me.web
    %h3= t.contact.web
    %p
      %a{:href => @me.web}= @me.web
  - if @me.linkedin
    %a{:href => @me.linkedin}
      %img.icon{:src => '/images/linkedin.png', :alt => 'View my profile on LinkedIn'}
  %a{:href => "/vcard.vcf", :alt => t.contact.vcf}
    %img.icon{:src => '/images/vcard.png', :alt => t.contact.vcf, :title => t.contact.vcf}