.contact
  %img.me{:src => @me.image, :alt => @me.name, :title => "#{@me.name}"}
  %h2= "#{@me.name}"
  -# optional contact info
  - if @me.title
    %h4.title= @me.title
  - if @me.address
    %h3= t.contact.address
    %p= text_with_line_breaks(@me.address)
  - if @me.birthday
    %h3= t.contact.birthday
    %p= l @me.birthday, :full
  - if @me.tel or @me.mobile
    %h3= t.contact.telephone
    %p
      = @me.tel
      %br
      = @me.mobile 
  %ul
    - if @me.email
      %li
        <a href="mailto:#{obscure_email(@me.email)}">
        %img.icon{:src => '/images/mail.png'}
        = t.contact.mail
        </a>
    - if @me.web
      %li
        %a{:href => @me.web, :target => "_blank"}
          %img.icon{:src => '/images/globe.png'}
          = t.contact.web
    - if @me.linkedin
      %li
        %a{:href => @me.linkedin, :target => "_blank"}
          %img.icon{:src => '/images/linkedin.png'}
          linkedin
    %li
      %a{:href => "/vcard.vcf"}
        %img.icon{:src => '/images/vcard.png'}
        vcard