!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "description", :content => SC.config.description}
    %meta{:name => "keywords", :content => SC.config.keywords}
    %title= @page_title || "Showcase"
    %link{:rel => "stylesheet", :href => "/stylesheets/screen.css", :type => "text/css", :media => "screen, projection"}
    %link{:rel => "stylesheet", :href => "/stylesheets/print.css", :type => "text/css", :media => "print"}
    /[if lt IE 8]
      %link{:rel => "stylesheet", :href => "/stylesheets/ie.css", :type => "text/css", :media => "screen, projection"}
  %body
    .container
      #header
        #navigation-left
          %span= "#{t.showcase.language}:  #{language_select(@page)}"
        #navigation-right.right= menu_links(@page)
        %hr

      #content= yield
      
      #footer.footer
        %hr
        %p
          = "&copy; #{Time.new.year}, #{SC.me.name} |"
          %a{:href => "http://github.com/niwo/showcase"}Showcase
          v.#{Showcase::VERSION}
          
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/showcase.js"}
    - if SC.config.google_analytics_code
      = haml :analytics, :layout => false