%div.span-24.last#projects
  %h1= t.projects.projects
  %hr
  - @projects.each do |project|
    %div.span-17.images{:id => project.key + '-images'}
      - if project.images
        - project.images.each do |image|
          %img{:src => image, :alt => image}
    %div.span-7.last
      %h3.date= project.date
      %h2.title= project.name
      %blockquote.description= project.subtitle
      - if project.features
        %h4= t.projects.features
        %ul
          - project.features.each do |feature|
            %li= feature
      - if project.technologies
        %h4= t.projects.technologies
        %ul
          - project.technologies.each do |technology|
            %li= technology
      - if project.project_url
        %p.url
          %a{:href => project.project_url}= project.project_url
    -# no hr after the last project in the hash
    - unless project == @projects.last
      %hr