%div.span-24.last#projects
  %h1= t.projects.projects
  %hr
  - @projects.each do |project|
    %div.span-17{:id => project.id + '-images'}
      %ul.images
        - if project.images
          - project.images.each do |image|
            - if project.images.index(image) == 0
              %li{:class => 'current'}
                %img{:src => image, :alt => image}
            - else
              %li
                %img{:src => image, :alt => image}
    %div.span-7.last
      %h3.date= project.date
      %h2.title= project.name
      %blockquote.description= project.subtitle
      %ul.button-list
        %li
          %a.button.prev{:href => "#", :id => project.id + '-prev', :title => " ← Previous image"} ← Previous image
        %li
          %a.button.next{:href => "#", :id => project.id + '-next', :title => "Next image →"} Next image →
      - if project.features
        %h4= t.projects.features
        %ul
          - project.features.each do |feature|
            %li= feature
      - if project.technologies
        %h4= t.projects.technologies
        %ul
          - project.technologies.each do |technology|
            %li= technology
      - if project.project_url
        %p.url
          %a{:href => project.project_url}= project.project_url
    -# no hr after the last project in the hash
    - unless project == @projects.last
      %hr